/* Header.module.css */
.nav {
  background-color: #4e6961;
  padding-top: 61px;
  z-index: 2;
}

.title {
  font-size: 35px;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
}

.navLink {
  color: #000;
}

.navLink.active {
  color: #fff;
}
